In [6]:
#Given a sentence, identify all unique words and display:

sentence = input("Enter Sentence:")
words = sentence.split()
unique_words = set(words)
print("unique words count",len(unique_words))
print("unique words",unique_words)

Enter Sentence:python is easy to use
unique words count 5
unique words {'to', 'python', 'easy', 'is', 'use'}

In [11]:
#Store employee names and their salaries, and determine which employee has the highest salary.

n = int(input("Enter number of employees: "))
employees = {}
for i in range(n):
  name = input("Enter employee name: ")
  salary = int(input("Enter employee salary: "))
  employees[name] = salary
  highest_employee = max(employees,key = employees.get)
highest_salary = max(employees.values())
print("highest salary: ",highest_employee,"-",highest_salary)

Enter number of employees: 2
Enter employee name: bhuvana
Enter employee salary: 2340000000
Enter employee name: chinnu
Enter employee salary: 2345600
highest salary:  bhuvana - 2340000000

In [16]:
#Find the maximum and minimum values from a list of numbers.

numbers = list(map(int,input("Enter numbers: ").split()))
maximum = max(numbers)
minimum = min(numbers)
print("List:",numbers)
print("Maximum:",maximum)
print("Minimum:",minimum)

Enter numbers: 35 45 64 23
List: [35, 45, 64, 23]
Maximum: 64
Minimum: 23

In [17]:
#count how many product prices are greater than 1000
prices = list(map(int,input("Enter prices: ").split()))
count =0
for price in prices:
  if price>1000:
    count+=1
print("Products above 1000: ",count)

Enter prices: 23 45 120 4000
Products above 1000:  1

In [21]:
#calculate attendance percentage
attendance = input("Enter attendance (P/A seperated by space): ").split()
total_days = len(attendance)
present_count = attendance.count("P")
percentage = (present_count / total_days)*100
print("Attendance Perentage:",percentage)

Enter attendance (P/A seperated by space): P A P P
Attendance Perentage: 75.0

In [22]:
#remove duplicate phone numbers and display unique ones
phone_numbers = list(map(int,input("Enter phone numbers:").split()))
unique_numbers = set(phone_numbers)
print("Unique phone numbers: ",unique_numbers)

Enter phone numbers:8317537572 9618641421 8317537572
Unique phone numbers:  {8317537572, 9618641421}

In [23]:
#count how many times each character appears in a string
text = input("Enter a string: ")

char_count = {}

for ch in text:
    char_count[ch] = char_count.get(ch, 0) + 1
print(char_count)

Enter a string: python
{'p': 1, 'y': 1, 't': 1, 'h': 1, 'o': 1, 'n': 1}

In [24]:
#convert a list into a tuple
numbers = list(map(int,input("Enter numbers: ").split()))
result = tuple(numbers)
print("Tuple:",result)

Enter numbers: 24 54 67
Tuple: (24, 54, 67)

In [25]:
#check whether a specific key exists in a dictionary
employees = {
    "Ravi": 75000,
    "Anita": 68000,
    "Kiran": 72000
}
key = input("Enter key to check: ")
if key in employees:
    print("Key exists in dictionary")
else:
    print("Employee does not exist")

Enter key to check: Ravi
Key exists in dictionary

In [26]:
#calculate the average marks
marks= list(map(int,input("Enter marks: ").split()))
avg = sum(marks)/len(marks)
print("Avg marks: ",avg)

Enter marks: 25 45 23 15
Avg marks:  27.0